.skills__item{
    flex: 1 0 30%;
    max-width: 400px;
    text-align: center;
}

@media (max-width: 730px) {
    .skills__item{
        flex: 1 1 100%;
    }
}

.skills__itemBody{
    display: flex;
    margin: 0 -15px;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    align-items: center;
}

.skills__cardPicture{
    width: 200px;
}

.skills__cardTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}

.skills__cardDescr{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 36px;
}